---
import Analytics from "@vercel/analytics/astro";
import Icon, { IconType } from "../ui/Icon.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const { pathname } = Astro.url;

const navItems = [
  { href: "/", label: "About", icon: IconType.Star },
  { href: "/work", label: "Work", icon: IconType.Briefcase },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
		<title>{title}</title>
		<Analytics />
	</head>
	<body class="font-sans antialiased bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100">
		<div class="mx-auto sm:w-xl p-6 sm:py-12">
			<header class="top-6 sticky">
				<nav class="flex gap-2 p-2 -mx-2 rounded-full transition duration-500">
					{navItems.map(({ href, label, icon }) => (
						<a href={href} class:list={["flex font-bold px-3 py-1 rounded-full items-center gap-1", {
							"bg-link text-white dark:text-neutral-900 dark:bg-link-dark": pathname === href,
							"text-neutral-600 transition dark:text-neutral-300 hover:text-inherit hover:inset-shadow-sm hover:bg-neutral-200 hover:dark:bg-neutral-700": pathname !== href
						}]}><Icon icon={icon} /> {label}</a>
					))}
				</nav>
			</header>
			<main class="py-12">
				<slot />
			</main>
		</div>
	</body>
</html>
<style>
	header {
		container-type: scroll-state;
		container-name: layoutheader;
	}

	nav {
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(0, 0, 0, .1);
		backdrop-filter: blur(4px) brightness(110%);
		box-shadow: 0 0 0 transparent;
	}

	@media (prefers-color-scheme: dark) {
		nav {
			background: --alpha(var(--color-neutral-950) / 50%);
			border-color: rgba(255, 255, 255, .25);
			backdrop-filter: blur(4px) brightness(80%);
		}
	}

	@container layoutheader scroll-state(stuck: top) {
		nav {
			box-shadow:
				inset 0px 2px 4px rgba(255, 255, 255, 0.05),
				0 2px 4px rgba(0, 0, 0, 0.05);
		}

		@media (prefers-color-scheme: dark) {
			nav {
				box-shadow:
					inset 0px -2px 4px rgba(0, 0, 0, 0.25),
					0px 2px 4px rgba(255, 255, 255, 0.05);
			}
		}
	}
</style>